.button{
  font-size: 20px;
  height: 50px;
  width: 200px;
  text-align: center;
}
.image{
  height: 300px;
  width: 300px;
}
.div-note{
  width: 100%px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
}
.div-list{
  width: 300px;
  max-height: 800px;
  overflow-y: auto;
  padding: 5px;
  border-radius: 3px;
  background-color: #E2E4E6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  margin-bottom: 5px;
  top: 5px;
}
.link-add-note{
  text-align: center;
  margin-top: 10px;
}
.div-list-category{
  width: 310px;
  padding: 5px;
  border-radius: 3px;
  background-color: #E2E4E6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  left: 20px;
  top: 20px;
}
.btn-secondary{
  margin-top: 10px;
  position: relative;
}
.note-list-category-title{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #1198e4;
}
